Rnd.Theme.Bootstrap/obj/
PackageTool/bin/
PackageTool/obj/
PackageToolUnitTest/bin/
PackageToolUnitTest/obj/
Rnd.Common/bin/
Rnd.Common/obj/
Rnd.DataAccess/bin/
Rnd.DataAccess/obj/
Rnd.Tekla.Helper/bin/
Rnd.Tekla.Helper/obj/
Rnd.Tekla.Helper 21.1/bin/
Rnd.Tekla.Helper 21.1/obj/
Rnd.Theme.Bootstrap/bin/
.vs/
.vs/PackageTool/v14/.suo
Rnd.Theme.Bootstrap/bin/Debug/